@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
  background-size: cover;
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 1px 1px 2px gainsboro;
}

.white-bg-opacity {
  background-color: rgba(240, 248, 255, 0.8);
}

.ico {
  width: 3vw;
  height: 3vw;
}

.person-photo {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

.person-photo-big {
  height: 15vh;
  width: 15vh;
  border-radius: 30%;
}

.active {
  border-bottom: 2px solid blue;
}

.persons {
  max-height: 80vh;
  overflow-y: scroll;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Play', sans-serif;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
